server {
	listen 80 default;

	server_name _;

	return 301 https://$host$request_uri;
}

server {
	listen 443 ssl http2;

	root /usr/share/nut/www/;
	index index.php index.html index.htm;

	ssl_certificate /etc/ssl/certs/nginx.crt;
	ssl_certificate_key /etc/ssl/private/nginx.key;
	ssl_protocols TLSv1.3;

	auth_basic "Network UPS Tools";
	auth_basic_user_file /etc/nut/.htpasswd;

	keepalive_timeout 60;

	add_header X-Frame-Options SAMEORIGIN;
	add_header X-Content-Type-Options nosniff;

	location / {
		autoindex on;
		try_files $uri $uri/ =404;
	}

	location ~ \.(cgi|pl)$ {
		include fastcgi_params;
		fastcgi_pass unix:/var/run/fcgiwrap.sock;
	}
}

